

.bg-g-primary {
    background: rgb(0,186,240);
    background: linear-gradient(90deg, rgba(0,186,240,1) 0%, rgba(0,210,240,1) 50%, rgba(0,240,229,1) 100%);
}

.bg-g-light {
    background: rgb(232,244,249);
    background: linear-gradient(90deg, rgba(232,244,249,1) 0%, rgba(236,236,236,1) 35%, rgba(232,237,237,1) 100%);
}


.bg-card-1 {
    background-image: url(../images/bg/bg-card-1.jpg);
}

.bg-card-2 {
    background-image: url(../images/bg/prtg.png);
}

.pointer {cursor: pointer;}

