{% extends "base_logged.html" %}
{% load static widget_tweaks %}

{% block extra_stylesheet %}
{% endblock %}

{% block active_customer %}active border-bottom border-2 {% endblock %}


{% block content %}

<div class="container-xl px-4 py-5">

    <div class="row text-muted">


        <div class="col-sm-12 mb-10">
            <h4 class="text-primary">
                {% if object %}
                    Editar usuário
                {% else %}
                    Novo usuário
                {% endif %}
            </h4>
        </div>

        <div class="col-lg-12 mb-10" >

            <p class="mb-4 text-light">
                Para fornecer acesso a Oxente TV é necessário preencher algumas informações básicas.
            </p>
            
            <form action="." class="row" method="post">

                {% csrf_token %}

                {% for field in form %}
                <div class="col-md-6 col-12 mb-3">
                    <div class="form-floating">
                        {% if field.errors %}
                            {% render_field field placeholder=field.label class+="form-control bg-dark  text-light is-invalid" %}
                        {% else %}
                            {% render_field field placeholder=field.label class+="form-control bg-dark border border-secondary text-light" %}
                        {% endif %}
                        <label>{{ field.label }}</label>
                    </div>
                    
                    {% for error in field.errors %}
                        <div class="form-text text-danger">
                            {{error}}
                        </div>
                    {% empty %}
                        <div class="form-text">{{ field.help_text | capfirst}}</div>
                    {% endfor %}
                    

                </div>
                {% endfor %}
        
               
                <div class="col-12 text-end mt-20">

                    <a class="btn btn-default text-primary btn-lg"  href="{% url 'accounts:customeruser_list' %}">
                        Cancelar
                        <!-- <i class="lni lni-save"></i> -->
                    </a>
    
                    <button class="btn btn-primary btn-lg" type="submit">
                        {% if object %}
                        <i class="lni lni-save"></i> Salvar 
                        {% else %}
                        <i class="lni lni-save"></i> Cadastrar
                        {% endif %}
                        
                    </button>

                </div>

            </form>
            
        </div>




    </div>

</div>

      

{% endblock %}

{% block extra_scrypts %}

    <script src="{% static 'js/jquery.mask.min.js' %}"></script>

    <script>
        $(document).ready(function() {
            $('#id_phone').mask('(00) 00000-0000');
            $('#id_password').attr('minlength', 6);
            
        });
    </script>

{% endblock %}
