{% load static %}
<!doctype html>
<html lang="pt-br">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>
            OxenteNet
        </title>
        
        <link rel="shortcut icon" href="{% static 'images/favicon.ico' %}" type="image/x-icon">
        <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
        
        
    </head>
    <body>
        <div class="container-fluid bg-dark text-light">
            <div class="row min-vh-100 p-3  justify-content-center">

                <div class="col-12 col-md-4 align-self-center text-center">
                    <img src="{% static 'images/logo_white_blue.png' %}" alt="logo" height="33" class="mb-3">
                    
                    <h5>Em construção</h5>
                </div>

            </div>

        </div>
    </body>
</html>